.main {
  display: flex;
  flex-direction: column;
  background-color: #302c42;
  height: 100vh;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_text {
    color: white;
  }
}

.preview {
  &_coverImage {
    object-fit: cover;
    width: 100%;
    height: 60%;
    margin-top: 30px;
  }

  &_author {
    background-color: white;
    border: 0.2px solid #302b41;
    color: #3e3e3e;
    width: 90%;
    height: 50%;
    transform: translateY(-80px);
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;

    &--personalInfo {
      width: 60%;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: auto;
    }

    &--image {
      border-radius: 50%;
      width: 120px;
      height: 140px;
    }

    &--job {
      font-weight: bold;
      color: black;
      font-size: 14px;
    }

    &--name {
      font-size: 16px;
    }
  }

  &_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    &--subtitle {
      font-size: 14px;
      text-align: center;
    }

    &--line {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(1, 1, 1, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
    &--title {
      font-size: 20px;
      color: black;
      margin-bottom: 10px;
    }
    &--slogan {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &--description {
      font-size: 12px;
      margin-bottom: 10px;
      text-align: justify;
    }
  }
  &_technologies {
    background-color: lightgray;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    &--technologiesText {
    }
  }
}

.form {
  background-color: #302c42;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  &_title {
    color: #ffffff;
    text-align: center;
  }
  &_projectInfo {
    padding: 20px;
    text-align: center;
    color: white;
    &--subtitle {
      padding-bottom: 10px;
    }
    &--line {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
    &--projectForm {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: none;
    }
  }
  &_authorInfo {
    padding: 20px;
    text-align: center;
    color: white;
    &--subtitle {
      padding-bottom: 10px;
    }
    &--line {
      width: 100%;
      border: 0;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }
    &--authorForm {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border: none;
    }
  }
}

.textarea {
  background-color: #302c42;
  border-color: white;
  border-radius: 15px;
  height: 45px;
  color: #ffffff;
  padding-left: 15px;
  padding-top: 5px;
  overflow-y: scroll;
  height: 110px;
}
.input {
  background-color: #302c42;
  border-color: white;
  border-radius: 15px;
  height: 42.72px;
  color: #ffffff;
  padding-left: 15px;
  padding-top: 5px;
}

.input::placeholder,
.textarea::placeholder {
  color: #ffffff;
}

.uploadBtn {
  text-align: center;

  &_project {
    width: 160px;
    margin-top: 10px;
    color: white;
    text-align: center;
    border: none;
    height: 43px;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 40px;
  }
  &_author {
    width: 160px;
    margin-top: 10px;
    color: white;
    text-align: center;
    border: none;

    height: 43px;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 40px;
  }
}

.createCard {
  text-align: center;
  &_Btn {
    width: 160px;
    margin-top: 10px;
    color: white;
    text-align: center;
    border: none;
    height: 43px;
    background: linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%);
    border-radius: 40px;
    width: 200px;
    border: solid 2px white;
  }
}

/* .btn-color {
  border-radius: 20px;
  width: 85px;
  height: 30px;
  font-weight: bold;
} */

/* .btn-color-dark {
  background-color: black;
  color: white;
}
 */
.cardMessage {
  color: white;
  text-align: center;
  padding: 20px;
  &_hidden {
    display: none;
  }
}
