.main {
  display: flex;
  flex-direction: column;
  background-color: #302c42;
  height: 100vh;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_text {
    color: white;
  }
}

